<div class="col-md-12">

  <table class='table table-hover table-responsive table-bordered'></table>


  <form method="POST" action="/auth/login">
    <tr>
      <td>
        <div class="field">
          <label>Barname</label>
          <td>
            <input type="text" name="barname" />
          </td>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="field">
          <label>Password</label>
          <td>
            <input type="password" name="password" />
          </td>
        </div>
      </td>
    </tr>

    {{#if errorMessage}}

    <div class="error">
      {{errorMessage}}
    </div>

    {{/if}}

    <td>
      <div class="field submit">
        <td>
          <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon"></span>Log-in
          </button>
        </td>
      </div>
    </td>
  </form>

  </table>

</div>