<div class="jumbotron text-center">
  <div class="jumbotron-text">

    <h1>Hey</h1>
    <p>Here put some cool text</p>
  
    <div id="container">
      {{#unless user}}
      <a href="/auth/login">Log in</a>
      <a href="/auth/signup">Sign-up</a>
      {{/unless}}
    
    <button type="button" class="btn btn-info btn-lg">
      <a href="/event/create">Create event</a>
    </button>

    </div>
  </div>
</div>

<div>
  <h2> HERE GOES THE MAP</h2>
</div>
</div>