<!DOCTYPE html>
<html>

<head>
  <title>liveBeats!</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<header>
  <div class="container">
    <h1>liveBeats</h1>
  </div>
</header>
<div clas="container">
  <body>
    {{{body}}}
  </body>
</div>

<footer>
  &copy Marketa & Jenny
</footer>

</html>