<!DOCTYPE html>
<html>

<head>
  <title>liveBeats!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<header>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      
      {{!--  logo --}}
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Live Beats!</a>
      </div>

      {{!--   links --}}
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/">Home</a>
        </li>

        <li>
          <a href="/event/list">Events</a>
        </li>
      </ul>

     {{!-- signup/login --}}
      <ul class="nav navbar-nav navbar-right">
        {{#unless user}}
        <li>
          <a href="/auth/signup">
            <span class="glyphicon glyphicon-user"></span> Sign Up</a>
        </li>
        <li>
          <a href="/auth/login">
            <span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
        {{/unless}} 

     {{!--  name/logout   --}}
        {{#if user}}
        <li>
          <a class="header-barname">{{user.barname}}</a>
        </li>
        <li>
          <a>
            <form method="POST" action="/auth/logout">
              <button>
                <span class="glyphicon glyphicon-log-out">Logout</span> 
              </button>
            </form>
          </a>
        </li>
        {{/if}}  
      </ul>
    </div>
  </nav>
</header>


{{!-- <header>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#about">ABOUT</a>
        </li>
        <li>
          <a href="#services">SERVICES</a>
        </li>
        <li>
          <a href="#portfolio">PORTFOLIO</a>
        </li>
        <li>
          <a href="#pricing">PRICING</a>
        </li>
        <li>
          <a href="#contact">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>
 --}}
<div clas="container">

  <body>
    {{{body}}}
  </body>
</div>

<footer class="container-fluid footer text-center">
  <p>  &copy Marketa & Jenny </p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

</html>
