@import url('https://fonts.googleapis.com/css?family=Cute+Font|Damion|Jua');

/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;  
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

/* ---- layout ---- */
.navbar{
  padding: 0;
  margin: 0;
  border-radius: 0%;
  font-size:1.3em;
}

.header-barname{
  color: goldenrod!important;
}

.navbar-brand {
font-family: 'Cute Font', cursive;
font-size: 30px;
color: #4FCECC!important;
}

.footer { 
    background-color: #2f2f2f;
    color: #ffffff;
}

/* --- homepage --- */ 

.jumbotron { 
    background: url("../images/background.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    color: black;
    margin: 0;
}

.jumbotron-text{
  margin: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Jua', sans-serif;
  color: wheat!important;
  text-shadow: 2px 2px black;
  padding-left: 80px;
}

.jumbotron-text h1{
  font-size: 70px;
}

.capital{
  font-size: 90px;
}

.container-fluid {
    padding: 10px 20px;
    margin: 0;
}

.btn-info{
  background-color: #4FCECC;
}

.lennie{
  clear: both;
}