@import url('https://fonts.googleapis.com/css?family=Cute+Font');

/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;  
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

/* ---- layout ---- */
.navbar{
  padding: 0;
  margin: 0;
  border-radius: 0%;
}

.header-barname{
  color: goldenrod!important;
}

.navbar-brand {
font-family: 'Cute Font', cursive;
font-size: 30px;
color: #4FCECC!important;
}

.footer { 
    background-color: #2f2f2f;
    color: #ffffff;
}

/* --- homepage --- */ 

.jumbotron { 
    background: url("../images/background.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    color: black;
    margin: 0;
}

.jumbotron-text{
  margin: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container-fluid {
    padding: 10px 20px;
    margin: 0;
}

.btn-info{
  background-color: #4FCECC;
}