<a href="/">Homepage</a>
<h1>Create event</h1>

<form method="POST" action="/movies">

  <div class="field" >
    <label>Event name</label>
    <input type="text" name="name"/>
  </div>

  <div class="field" >
    <label>Type</label>
    <input type="number" name="year"/>
  </div>

  <div class="field" >
    <label>Description</label>
    <input type="text" name="description"/>
  </div>

  <div class="field submit">
    <button type="submit">Add event</button>
  </div>
</form>