<h1>Create event</h1>

<div class="col-md-12">
  <table class='table table-hover table-responsive table-bordered'>

    <form method="POST" action="/event/create">
      <tr>
        <td>
          <div class="field">
            <label>Event name</label>
            <td>
              <input type="text" name="title" />
            </td>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="field">
            <label>Type of music</label>
            <td>
              <select name='musicType' class='form-control'>
                <option value='classic'>Classic</option>
                <option value='jazz'>Jazz</option>
                <option value='pop'>Pop</option>
                <option value='rap'>Rap</option>
                <option value='rock'>Rock</option>
                <option value='other'>Other</option>
              </select>
            </td>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="field">
            <label>Description</label>
            <td>
              <textarea type="text" name="description"></textarea> </textarea>
            </td>
          </div>
        </td>
      </tr>

      {{#if errorMessage}}

      <div class="error">
        {{errorMessage}}
      </div>

      {{/if}}

      <td>
        <div class="field submit">
          <td>
            <button type="submit" class="btn btn-primary">
              <span class="glyphicon glyphicon"></span>Add event
            </button>
          </td>
        </div>
      </td>
    </form>


  </table>
</div>