<body class="events-page">
    <div class="col-md-8">
      <table class='table table-hover table-responsive table-bordered' align="center">

        <thead class="thead-dark">
          {{!-- <tr> --}}
            <h1> List of Events </h1>
          {{!-- </tr> --}}
        </thead>
        <tbody>
          <ul>
            {{#each events}} {{!-- key from event.js --}}
          <thead><tr><th id="event-header" colspan="4" scope="colgroup">Event info</th></tr></thead>
            <div class="each-event">
              <tr>
                <th scope="row">Title</th>
                <td>{{this.title}}</td>
              </tr>

              <tr>
                <th scope="row">Type of music</th>
                <td>{{this.musicType}}</td>
              </tr>

              <tr>
                <th scope="row">Description</th>
                <td>{{this.description}}</td>
              </tr>

              <tr>
                <th scope="row">
                  <a href="/event/event-details/{{this._id}}">See details</a>
                </th>
              </tr>

            </div>

            {{/each}}
          </ul>
        </tbody>
      </table>

    </div>
</body>

<div class="lennie"></div>