<div class="col-md-12">
  <table class='table table-hover table-responsive table-bordered'>

    <a href="/">Back</a>

    <body class="events-page">
      
          <div>
            <h1>Event details: </h1>
            <tr>
            <td>
              <h1> {{event.title}}</h1>
            </td>
          </div>
        </td>
      </tr>

      <div class="events-listing">
        <ul>
          <div class="each-event">
              <tr>
                <td>
                  <b>Title:</b>

                </td>
                <td>
                  {{event.title}}
                </td>
              </tr>
              </p>
              <p>
                <tr>
                  <td>
                    <b>Type of music:</b>
                  </td>
                  <td>
                    {{event.musicType}}</td>
                </tr>
              </p>
              <p>
                <tr>
                  <td>
                    <b>Description:</b>
                  </td>
                  <td>
                    {{event.description}}
                  </td>
                </tr>
              </p>

          </div>
          </td>
          </tr>

        </ul>
      </div>

      <tr>
        <td>
          <div>
            <h2>Bar info</h2>
          </div>
        </td>
      </tr>
    </body>


  </table>
</div>
<div class="lennie"></div>